<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ubication">
  <form>
    <ion-item lines="full">
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" requeried></ion-input>
    </ion-item>
    
    <ion-item lines="full">
      <ion-label position="floating">Apellido</ion-label>
      <ion-input type="text" requeried></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" requeried></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="text" requeried></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating"> Confirmar Contraseña</ion-label>
      <ion-input type="text" requeried></ion-input>
    </ion-item>

    <ion-col>
      <ion-button [routerLink]="['/home']" type="submit" color="danger" expand="block">INGRESAR REGISTRO</ion-button>
    </ion-col>
    

  </form>

</ion-content>