<ion-header>
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Reset your password</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content class="ubication">
  <form>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" requeried></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button [routerLink]="['/home']" type="submit" color="danger" expand="block">Enviar</ion-button>
      </ion-col>
    </ion-row>
    <small>Proporcione el nombre de usuario o la dirección de correo electrónico que utilizó cuando firmó
      para su cuenta </small>
  </form>
</ion-content>